[Unit]
Description=Schedule setup network split ax at given time

[Timer]
OnCalendar=@%i
Unit=network-split@ax.service

[Install]
WantedBy=timers.target
