[Unit]
Description=Linux Traffic Control enforced network latency setup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=no
ExecStart=/usr/bin/bash -c "/etc/network-latency.sh {{ latency_spec_opts }} {{ latency }}"
ExecStop=/usr/bin/bash -c "/etc/network-latency.sh teardown"
EnvironmentFile=/etc/network-split.env
User=root
Group=root

[Install]
WantedBy=multi-user.target
